//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 05 19:11:46 2018
//! **************************************************************************

SCHEMATIC START;
COMP "SPI_CS1" LOCATE = SITE "C9" LEVEL 1;
COMP "SPI_CLK" LOCATE = SITE "A9" LEVEL 1;
COMP "SPI_DIN" LOCATE = SITE "B9" LEVEL 1;
COMP "CLK" LOCATE = SITE "M6" LEVEL 1;
COMP "LIN" LOCATE = SITE "B5" LEVEL 1;
COMP "AN<0>" LOCATE = SITE "K14" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "M13" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "J12" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "F12" LEVEL 1;
COMP "BTN_START" LOCATE = SITE "G12" LEVEL 1;
COMP "BTN_STOP" LOCATE = SITE "C11" LEVEL 1;
COMP "SEG7<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "SEG7<1>" LOCATE = SITE "H12" LEVEL 1;
COMP "SEG7<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "SEG7<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "SEG7<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "SEG7<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "SEG7<6>" LOCATE = SITE "M12" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

